/* Root */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  display: flex;
}

.banner-wrapper {
  width: 1500px;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: -1000;
  flex-direction: column;
}

.name {
  font-size: 55px;
  font-weight: bolder;
  z-index: 100;
  color: black;
}

.description {
  z-index: 100;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.small-square {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  opacity: 0.75;
}

.med-square {
  height: 100px;
  width: 100px;
  background-color: white;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
  opacity: 0.75;
}

.big-square {
  height: 200px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
  opacity: 0.75;
}

.one {
  height: 350px;
  width: 500px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  bottom: -20%;
  right: -5%;
}

.two {
  height: 400px;
  width: 300px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  top: -1%;
  right: 55%;
}

.three {
  height: 350px;
  width: 500px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  bottom: 10%;
  left: -1%;
}

.four {
  height: 300px;
  width: 300px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  top: 25%;
  right: 20%;
}

.five {
  height: 500px;
  width: 100px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  bottom: 20%;
  right: 5%;
}

.six {
  height: 450px;
  width: 1000px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  bottom: -1%;
  left: 7%;
}

.seven {
  height: 200px;
  width: 700px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  bottom: -5%;
  left: 35%;
}

.eight {
  height: 300px;
  width: 300px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  bottom: -5%;
  left: 10%;
}
