/* Root */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  display: flex;
}

.banner-wrapper {
  width: 1500px;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: -1000;
  flex-direction: column;
}

.name {
  font-size: 45px;
  font-weight: bolder;
  z-index: 100;
  color: black;
  position: absolute;
  top: 39%;
  right: 50%;
}

.description {
  z-index: 100;
  font-size: 15px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 54%;
  right: 46%;
}

.square {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.one {
  height: 350px;
  width: 500px;
  bottom: -20%;
  right: -5%;
}

.two {
  height: 150px;
  width: 300px;
  top: -1%;
  right: 55%;
  z-index: 1;
}

.three {
  height: 350px;
  width: 375px;
  bottom: 10%;
  left: -1%;
}

.four {
  height: 300px;
  width: 300px;
  top: 25%;
  right: 19%;
  z-index: 1;
}

.five {
  height: 500px;
  width: 100px;
  bottom: 20%;
  right: 5%;
}

.six {
  height: 450px;
  width: 1000px;
  bottom: -1%;
  left: 7%;
}

.seven {
  height: 200px;
  width: 700px;
  bottom: -5%;
  left: 35%;
}

.eight {
  height: 300px;
  width: 320px;
  bottom: -5%;
  left: 1%;
  z-index: 2;
}

.nine {
  height: 200px;
  width: 700px;
  top: -1%;
  right: -1%;
}
